<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AiQutationGenerator</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h1>AI Generated Quote</h1>
        <h3>Quote: {{ quote }}</h3>
        <h3>Author: {{ author }}</h3>
        <h3>Category: {{ category }}</h3>


        <a href="/quote" class="generate-btn">🔄 Generate Another Quote</a>
        <a href="/main" class="back-btn">⬅ Back to Home</a>
    </div>
</body>
</html>
